.tabs_wrapper
    overflow-x: auto
    content-visibility: auto
    .tab_item
        &:hover
            font-size: larger
            transform: translateY(-3px)
            transition-duration: 500ms