<div class="highlighted_box">
    <mat-toolbar color="primary" class="borders">
        <mat-toolbar-row>
            <button mat-icon-button>
                <mat-icon (click)="clickMenuIcon()">menu</mat-icon>
            </button>
            <h1>{{'landing.header.title' | translate}}</h1>
            <span class="menu-spacer"></span>

        </mat-toolbar-row>

        <mat-toolbar-row *ngIf="displayMenu" class="large_screen_menu">
            <div class="tabs_wrapper">
                
                <a *ngFor="let menuItem of menuItems" mat-button [routerLink]="menuItem.link" class="tab_item" routerLinkActive="_active" [routerLinkActiveOptions]="{exact: true}"> {{menuItem.label}} </a>

            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>