@import '../abstracts/colors'
    
.pointer
    cursor: pointer

.underlined
    &::after
        content: ''
        position: absolute
        height: 2px
        transform: translateY(-5px)
        width: 35px
        left: 16px
        bottom: 0px
        background-color: $f1app-red

.bold-text
    font-weight: bold