<div class="cards_wrapper" *ngIf="seasonsList && seasonsList.length > 0">
    <mat-card class="year_card" *ngFor="let s of seasonsList" (click)="goToRaceDetails(s.Season)">
        <mat-card-header>
            <mat-card-title (click)="goToRaceDetails(s.Season)">{{s.Season}}</mat-card-title>
            <mat-card-subtitle>TOP 1</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf="s.Races">
            <div class="image-text-line">
                <img *ngIf="s.Races" mat-card-image [src]="s.Races[0].QualifyingResults[0].Driver.image"
                    class="image-text-line-img">
                <div class="image-text-line-txt">
                    <p>
                        {{s.Races[0].QualifyingResults[0].Driver.givenName}}
                        {{s.Races[0].QualifyingResults[0].Driver.familyName}}
                    </p>
                    <p class="bold-text">
                        {{s.Races[0].QualifyingResults[0].Constructor.name}}
                    </p>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>